<#include "/WEB-INF/views/common/common.html"/> 
<@layout>
<!-- 此处定义 页面单独的样式和 js -->
</head>
<body>
<script type="text/javascript">

	var url;
	function newSysRole() {
		$('#dlg').dialog('open').dialog('center')
				.dialog('setTitle', '新建角色');
		$('#fm').form('clear');
		url = '${ctx!}/sysRole/add';
	}
	function editSysRole() {
		var row = $('#dg').datagrid('getSelected');
		if (row) {
			$('#dlg').dialog('open').dialog('center').dialog('setTitle',
					'编辑角色');
			$('#fm').form('clear');
			$('#fm').form('load', row);
			$("#pidName").textbox("setValue",row.name);
			url = '${ctx!}/sysRole/update?id=' + row.id;
		}else{
			$.messager.alert('警告','修改之前请先选择一条记录!','warning');
		}
	}
	function saveSysRole() {
		$('#fm').form('submit', {
			url : url,
			onSubmit : function() {
				return $(this).form('validate');
			},
			success : function(result) {
			 
				if(result.indexOf("成功")>=0){
					successMsgPretty(null,result);
					$('#dlg').dialog('close'); // close the dialog
					$('#dg').datagrid('reload'); // reload the user data
				}else{
					errMsgPretty(null,result);
				}
			}
		});
	}
	function deleteSysRole() {
		var row = $('#dg').datagrid('getSelected');
		if (row) {
			$.messager.confirm('删除确认',
					'你确定要删除这条记录吗?', function(r) {
						if (r) {
							$.post('${ctx!}/sysRole/delete', {
								id : row.id
							}, function(result) {
								if(result.indexOf("成功")>=0){
									successMsgPretty(null,result);
									$('#dg').datagrid('reload'); // reload the user data
								}else{
									errMsgPretty(null,result);
								}
								 
							}, 'text');
						}
					});
		}
	}
</script>

<table id="dg" class="easyui-datagrid  " url="${ctx!}/sysRole/query"
	toolbar="#tb" 
	rownumbers="true" 
	border="false" 
	singleSelect="true"
	fit="true" 
	pagination="true"
	 data-options="onDblClickRow:datagridCancelSelect"
	>
	<thead>
		<tr>
			<th data-options="field:'ck',checkbox:true"></th>
			<th field="roleName" width="150">角色名</th>
			<th field="roleDesc" width="150">角色描述</th>
			<th field="createTime" width="150">创建时间</th>
			<th field="sort" width="50">排序</th>
			 
		</tr>
	</thead>
</table>

<div id="dlg" class="easyui-dialog" style="width: 400px" closed="true"
	buttons="#dlg-buttons">
	<form id="fm" method="post" novalidate
		style="margin: 0; padding: 20px 50px">
	    <input type="hidden" name="id" />
		<div style="margin-bottom: 10px">
			<input name="roleName" class="easyui-textbox" required="true"
				label="角色名:" style="width: 100%">
		</div>
		<div style="margin-bottom: 10px">
			<input name="roleDesc" class="easyui-textbox"  
				label="角色备注:" style="width: 100%">
		</div>
		<div style="margin-bottom: 10px">
			<input name="sort" class="easyui-numberbox" label="排序:"
				style="width: 100%">
		</div>
	</form>
</div>

<div id="dlg-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton c6"
		iconCls="icon-ok" onclick="saveSysRole()" style="width: 90px">保存</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')"
		style="width: 90px">取消</a>
</div>

<div id="tb">
	<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true"
		onclick="newSysRole()">新增</a>
    <a href="#" class="easyui-linkbutton"
		iconCls="icon-edit" plain="true" onclick="editSysRole()">编辑</a>
    <a href="#" class="easyui-linkbutton  " iconCls="icon-remove"
		plain="true" onclick="deleteSysRole()">删除</a>
	 
    <a href="#" class="easyui-linkbutton  " iconCls="icon-user-config"
		plain="true" onclick="">授权</a>
</div>
<script>
 
</script>
</@layout>


